services:
  - type: web
    name: demo-django
    runtime: docker
    dockerfilePath: ./Dockerfile
    env: docker
    region: frankfurt
    plan: free
    envVars:
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        fromDatabase:
          name: db_tp8_mc17
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: True
      - key: ALLOWED_HOSTS
        value: .onrender.com,demodjango-h52p.onrender.com
    healthCheckPath: /admin/


